@charset "UTF-8";
body {
  font-family: 'Montserrat';
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background: #fef7ce;
}
body * {
  box-sizing: border-box;
}
body .btn {
  position: absolute;
  z-index: 8;
  width: 30px;
  height: 30px;
  left: calc(50% - 15px);
  top: calc(50% - 15px);
  margin-top: 250px;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  margin-left: 350px;
}
body input[type="radio"] {
  position: absolute;
  z-index: 8;
  width: 80px;
  height: 80px;
  left: calc(50% - 40px);
  top: calc(50% - 40px);
  margin-top: 250px;
  margin-left: 350px;
}
body input[type="radio"]:hover ~ .btn {
  box-shadow: 0 0 0 1px #000;
}
body input[type="radio"]:hover ~ .btn:before {
  border-top: 5px solid #000;
  border-right: 5px solid #000;
}
body .btn {
  box-shadow: 0 0 0 1px #fff;
  z-index: 999;
  pointer-events: none;
  border-radius: 100%;
}
body .btn:before {
  content: '';
  position: absolute;
  width: 25%;
  height: 25%;
  border-top: 5px solid #fff;
  border-right: 5px solid #fff;
  left: 50%;
  top: 50%;
  -webkit-transform: translateY(calc(-50% - 2.5px)) translateX(-50%) rotate(135deg);
          transform: translateY(calc(-50% - 2.5px)) translateX(-50%) rotate(135deg);
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}
body input {
  opacity: 0;
  z-index: 999;
}
body input:first-of-type:checked ~ #wrap:before {
  -webkit-transition: 0s;
  transition: 0s;
}
body input:first-of-type:checked ~ #wrap:after {
  -webkit-transition: 0s;
  transition: 0s;
}
body input:first-of-type:checked ~ #wrap .slide:nth-of-type(2) {
  opacity: 0;
}
body input:first-of-type:checked ~ #wrap .slide:nth-of-type(3):before, body input:first-of-type:checked ~ #wrap .slide:nth-of-type(3) .label:before {
  -webkit-transform-origin: top;
          transform-origin: top;
}
body input:last-of-type:checked {
  z-index: 0;
}
body input:last-of-type:checked ~ .btn:before {
  -webkit-transform: translateY(calc(-50% + 1.5px)) translateX(-50%) rotate(135deg) scaleX(-1) scaleY(-1);
          transform: translateY(calc(-50% + 1.5px)) translateX(-50%) rotate(135deg) scaleX(-1) scaleY(-1);
}
body input:last-of-type:checked ~ #wrap .slide:nth-of-type(1):before, body input:last-of-type:checked ~ #wrap .slide:nth-of-type(1) .label:before {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
body input:last-of-type:checked ~ #wrap .slide:nth-of-type(1) .image {
  -webkit-transform: translateX(-50%) translateY(calc(-50% + 100vh));
          transform: translateX(-50%) translateY(calc(-50% + 100vh));
}
body input:nth-of-type(1) {
  z-index: 9;
}
body input:nth-of-type(1):checked {
  pointer-events: none;
  opacity: 0;
}
body input:nth-of-type(1):checked + input {
  z-index: 20;
}
body input:nth-of-type(1):checked ~ #wrap .outer .box:before {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}
body input:nth-of-type(1):checked ~ #wrap:before {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}
body input:nth-of-type(1):checked ~ #wrap:after {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}
body input:nth-of-type(1):checked ~ #wrap .slide:nth-of-type(1) .content {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}
body input:nth-of-type(1):checked ~ #wrap .slide:nth-of-type(1) .content p:before {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition-delay: 0.45s;
          transition-delay: 0.45s;
  opacity: 1;
}
body input:nth-of-type(1):checked ~ #wrap .slide:nth-of-type(1) p.classifications {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}
body input:nth-of-type(1):checked ~ #wrap .slide:nth-of-type(1) .image {
  -webkit-transition: all 600ms cubic-bezier(1, 0.885, 0.72, 1);
  transition: all 600ms cubic-bezier(1, 0.885, 0.72, 1);
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
}
body input:nth-of-type(1):checked ~ #wrap .slide:nth-of-type(1) .label:before {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
body input:nth-of-type(1):checked ~ #wrap .slide:nth-of-type(1):before {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
body input:nth-of-type(1):checked ~ #wrap .slide:nth-of-type(2) .content {
  -webkit-clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
          clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
}
body input:nth-of-type(1):checked ~ #wrap .slide:nth-of-type(2) p.classifications {
  -webkit-clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
          clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
}
body input:nth-of-type(1):checked ~ #wrap .slide:nth-of-type(2) .image {
  -webkit-transform: translateX(-50%) translateY(calc(-50% + 100vh));
          transform: translateX(-50%) translateY(calc(-50% + 100vh));
}
body input:nth-of-type(1):checked ~ #wrap .slide:nth-of-type(0) .image {
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
body input:nth-of-type(1):checked ~ #wrap .slide:nth-of-type(0) .label:before {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
body input:nth-of-type(1):checked ~ #wrap .slide:nth-of-type(0):before {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
body input:first-of-type:checked ~ #wrap:before {
  -webkit-transition: 0s;
  transition: 0s;
}
body input:first-of-type:checked ~ #wrap:after {
  -webkit-transition: 0s;
  transition: 0s;
}
body input:first-of-type:checked ~ #wrap .slide:nth-of-type(2) {
  opacity: 0;
}
body input:first-of-type:checked ~ #wrap .slide:nth-of-type(3):before, body input:first-of-type:checked ~ #wrap .slide:nth-of-type(3) .label:before {
  -webkit-transform-origin: top;
          transform-origin: top;
}
body input:last-of-type:checked {
  z-index: 0;
}
body input:last-of-type:checked ~ .btn:before {
  -webkit-transform: translateY(calc(-50% + 1.5px)) translateX(-50%) rotate(135deg) scaleX(-1) scaleY(-1);
          transform: translateY(calc(-50% + 1.5px)) translateX(-50%) rotate(135deg) scaleX(-1) scaleY(-1);
}
body input:last-of-type:checked ~ #wrap .slide:nth-of-type(1):before, body input:last-of-type:checked ~ #wrap .slide:nth-of-type(1) .label:before {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
body input:last-of-type:checked ~ #wrap .slide:nth-of-type(1) .image {
  -webkit-transform: translateX(-50%) translateY(calc(-50% + 100vh));
          transform: translateX(-50%) translateY(calc(-50% + 100vh));
}
body input:nth-of-type(2) {
  z-index: 8;
}
body input:nth-of-type(2):checked {
  pointer-events: none;
  opacity: 0;
}
body input:nth-of-type(2):checked + input {
  z-index: 20;
}
body input:nth-of-type(2):checked ~ #wrap .outer .box:before {
  -webkit-transform: translateY(25%);
          transform: translateY(25%);
}
body input:nth-of-type(2):checked ~ #wrap:before {
  -webkit-transform: translateX(-25%);
          transform: translateX(-25%);
}
body input:nth-of-type(2):checked ~ #wrap:after {
  -webkit-transform: translateY(25%);
          transform: translateY(25%);
}
body input:nth-of-type(2):checked ~ #wrap .slide:nth-of-type(2) .content {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}
body input:nth-of-type(2):checked ~ #wrap .slide:nth-of-type(2) .content p:before {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition-delay: 0.45s;
          transition-delay: 0.45s;
  opacity: 1;
}
body input:nth-of-type(2):checked ~ #wrap .slide:nth-of-type(2) p.classifications {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}
body input:nth-of-type(2):checked ~ #wrap .slide:nth-of-type(2) .image {
  -webkit-transition: all 600ms cubic-bezier(1, 0.885, 0.72, 1);
  transition: all 600ms cubic-bezier(1, 0.885, 0.72, 1);
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
}
body input:nth-of-type(2):checked ~ #wrap .slide:nth-of-type(2) .label:before {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
body input:nth-of-type(2):checked ~ #wrap .slide:nth-of-type(2):before {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
body input:nth-of-type(2):checked ~ #wrap .slide:nth-of-type(3) .content {
  -webkit-clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
          clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
}
body input:nth-of-type(2):checked ~ #wrap .slide:nth-of-type(3) p.classifications {
  -webkit-clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
          clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
}
body input:nth-of-type(2):checked ~ #wrap .slide:nth-of-type(3) .image {
  -webkit-transform: translateX(-50%) translateY(calc(-50% + 100vh));
          transform: translateX(-50%) translateY(calc(-50% + 100vh));
}
body input:nth-of-type(2):checked ~ #wrap .slide:nth-of-type(1) .image {
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
body input:nth-of-type(2):checked ~ #wrap .slide:nth-of-type(1) .label:before {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
body input:nth-of-type(2):checked ~ #wrap .slide:nth-of-type(1):before {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
body input:first-of-type:checked ~ #wrap:before {
  -webkit-transition: 0s;
  transition: 0s;
}
body input:first-of-type:checked ~ #wrap:after {
  -webkit-transition: 0s;
  transition: 0s;
}
body input:first-of-type:checked ~ #wrap .slide:nth-of-type(2) {
  opacity: 0;
}
body input:first-of-type:checked ~ #wrap .slide:nth-of-type(3):before, body input:first-of-type:checked ~ #wrap .slide:nth-of-type(3) .label:before {
  -webkit-transform-origin: top;
          transform-origin: top;
}
body input:last-of-type:checked {
  z-index: 0;
}
body input:last-of-type:checked ~ .btn:before {
  -webkit-transform: translateY(calc(-50% + 1.5px)) translateX(-50%) rotate(135deg) scaleX(-1) scaleY(-1);
          transform: translateY(calc(-50% + 1.5px)) translateX(-50%) rotate(135deg) scaleX(-1) scaleY(-1);
}
body input:last-of-type:checked ~ #wrap .slide:nth-of-type(1):before, body input:last-of-type:checked ~ #wrap .slide:nth-of-type(1) .label:before {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
body input:last-of-type:checked ~ #wrap .slide:nth-of-type(1) .image {
  -webkit-transform: translateX(-50%) translateY(calc(-50% + 100vh));
          transform: translateX(-50%) translateY(calc(-50% + 100vh));
}
body input:nth-of-type(3) {
  z-index: 7;
}
body input:nth-of-type(3):checked {
  pointer-events: none;
  opacity: 0;
}
body input:nth-of-type(3):checked + input {
  z-index: 20;
}
body input:nth-of-type(3):checked ~ #wrap .outer .box:before {
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
}
body input:nth-of-type(3):checked ~ #wrap:before {
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
body input:nth-of-type(3):checked ~ #wrap:after {
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
}
body input:nth-of-type(3):checked ~ #wrap .slide:nth-of-type(3) .content {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}
body input:nth-of-type(3):checked ~ #wrap .slide:nth-of-type(3) .content p:before {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition-delay: 0.45s;
          transition-delay: 0.45s;
  opacity: 1;
}
body input:nth-of-type(3):checked ~ #wrap .slide:nth-of-type(3) p.classifications {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}
body input:nth-of-type(3):checked ~ #wrap .slide:nth-of-type(3) .image {
  -webkit-transition: all 600ms cubic-bezier(1, 0.885, 0.72, 1);
  transition: all 600ms cubic-bezier(1, 0.885, 0.72, 1);
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
}
body input:nth-of-type(3):checked ~ #wrap .slide:nth-of-type(3) .label:before {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
body input:nth-of-type(3):checked ~ #wrap .slide:nth-of-type(3):before {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
body input:nth-of-type(3):checked ~ #wrap .slide:nth-of-type(4) .content {
  -webkit-clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
          clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
}
body input:nth-of-type(3):checked ~ #wrap .slide:nth-of-type(4) p.classifications {
  -webkit-clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
          clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
}
body input:nth-of-type(3):checked ~ #wrap .slide:nth-of-type(4) .image {
  -webkit-transform: translateX(-50%) translateY(calc(-50% + 100vh));
          transform: translateX(-50%) translateY(calc(-50% + 100vh));
}
body input:nth-of-type(3):checked ~ #wrap .slide:nth-of-type(2) .image {
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
body input:nth-of-type(3):checked ~ #wrap .slide:nth-of-type(2) .label:before {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
body input:nth-of-type(3):checked ~ #wrap .slide:nth-of-type(2):before {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
body #wrap {
  min-width: 800px;
  min-height: 600px;
  position: relative;
  background: #fff;
  box-shadow: 0 10px 40px -10px rgba(0, 0, 0, 0.45);
}
body #wrap .jar {
  position: absolute;
  width: 50%;
  height: 100%;
  left: 25%;
  overflow: hidden;
  z-index: 8;
}
body #wrap .jar:before, body #wrap .jar:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/383755/jar.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  -webkit-transform: translateY(100%) scaleX(0.75);
          transform: translateY(100%) scaleX(0.75);
}
body #wrap .jar:after {
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/383755/lid.png");
  background-size: 260px;
  top: -190px;
  -webkit-transform: translateY(-100%) scaleX(0.75);
          transform: translateY(-100%) scaleX(0.75);
}
body #wrap .cart, body #wrap .cart .inner {
  z-index: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  overflow: hidden;
}
body #wrap .cart .inner, body #wrap .cart .inner .inner {
  background: #fff;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: 0.3s cubic-bezier(1, 0.885, 0.72, 1);
  transition: 0.3s cubic-bezier(1, 0.885, 0.72, 1);
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  padding: 60px 40px 150px;
}
body #wrap .cart .inner .buy, body #wrap .cart .inner .inner .buy {
  position: absolute;
  bottom: 90px;
  right: 40px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  -webkit-transform: scale(0);
          transform: scale(0);
}
body #wrap .cart .inner .buy:before, body #wrap .cart .inner .inner .buy:before {
  content: 'CHECK OUT';
  font-size: 14px;
  box-shadow: 0 0 0 1px;
  padding: 10px 15px;
  border-radius: 50px;
}
body #wrap .cart .inner .bug, body #wrap .cart .inner .inner .bug {
  display: grid;
  width: 100%;
  grid-template-columns: 15% 40% 15% 15% 15%;
  grid-template-rows: 100%;
  border-bottom: 1px solid #ccc;
  -webkit-clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
          clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
}
body #wrap .cart .inner .bug .image, body #wrap .cart .inner .inner .bug .image {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
  -webkit-transform: rotate(90deg) scale(0.75);
          transform: rotate(90deg) scale(0.75);
  background-image: url("https://puu.sh/DFAVr/627c7ece9f.png");
}
body #wrap .cart .inner .bug:nth-of-type(2) .image, body #wrap .cart .inner .inner .bug:nth-of-type(2) .image {
  background-image: url("https://puu.sh/DFAVP/579e5c4793.png");
}
body #wrap .cart .inner .bug:nth-of-type(2) span:first-of-type:before, body #wrap .cart .inner .inner .bug:nth-of-type(2) span:first-of-type:before {
  content: 'Superious Grossius';
}
body #wrap .cart .inner .bug:nth-of-type(2) span:nth-of-type(3):after, body #wrap .cart .inner .inner .bug:nth-of-type(2) span:nth-of-type(3):after {
  content: '9.50';
}
body #wrap .cart .inner .bug:nth-of-type(3) .image, body #wrap .cart .inner .inner .bug:nth-of-type(3) .image {
  background-image: url("https://puu.sh/DFAK1/62a2c6fbf7.png");
}
body #wrap .cart .inner .bug:nth-of-type(3) span:first-of-type:before, body #wrap .cart .inner .inner .bug:nth-of-type(3) span:first-of-type:before {
  content: 'Slimius Maximus';
}
body #wrap .cart .inner .bug:nth-of-type(3) span:nth-of-type(3):after, body #wrap .cart .inner .inner .bug:nth-of-type(3) span:nth-of-type(3):after {
  content: '8.50';
}
body #wrap .cart .inner .bug .image, body #wrap .cart .inner .inner .bug .image {
  grid-column: 1 / span 1;
}
body #wrap .cart .inner .bug span, body #wrap .cart .inner .inner .bug span {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
          align-items: center;
  padding: 0 20px;
}
body #wrap .cart .inner .bug span:first-of-type:before, body #wrap .cart .inner .inner .bug span:first-of-type:before {
  content: 'Digustingus Crawlerus';
  text-align: center;
}
body #wrap .cart .inner .bug span:last-of-type, body #wrap .cart .inner .inner .bug span:last-of-type {
  opacity: 0.35;
  -webkit-transform: scaleY(0.85);
          transform: scaleY(0.85);
  font-size: 20px;
}
body #wrap .cart .inner .bug span:nth-of-type(2) b, body #wrap .cart .inner .inner .bug span:nth-of-type(2) b {
  display: inline-block;
  padding: 10px 15px;
  box-shadow: 0 0 0 1px #ccc;
  position: relative;
}
body #wrap .cart .inner .bug span:nth-of-type(2) b:before, body #wrap .cart .inner .inner .bug span:nth-of-type(2) b:before {
  content: '-';
  position: absolute;
  left: -20px;
  color: #aaa;
  font-weight: 300;
  font-size: 26px;
}
body #wrap .cart .inner .bug span:nth-of-type(2) b:after, body #wrap .cart .inner .inner .bug span:nth-of-type(2) b:after {
  content: '+';
  position: absolute;
  right: -20px;
  color: #aaa;
  font-weight: 300;
  font-size: 26px;
}
body #wrap .cart .inner .bug span:nth-of-type(2) b:before, body #wrap .cart .inner .bug span:nth-of-type(2) b:after, body #wrap .cart .inner .inner .bug span:nth-of-type(2) b:before, body #wrap .cart .inner .inner .bug span:nth-of-type(2) b:after {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
body #wrap .cart .inner .bug span:nth-of-type(3), body #wrap .cart .inner .inner .bug span:nth-of-type(3) {
  -webkit-box-pack: center;
          justify-content: center;
}
body #wrap .cart .inner .bug span:nth-of-type(3):after, body #wrap .cart .inner .inner .bug span:nth-of-type(3):after {
  content: '8.00';
}
body #wrap .cart .inner .bug span:nth-of-type(4), body #wrap .cart .inner .inner .bug span:nth-of-type(4) {
  -webkit-box-pack: end;
          justify-content: flex-end;
}
body #wrap .cartbtn {
  position: absolute;
  z-index: 2;
  width: 50%;
  left: calc(50% - 50px);
  bottom: 0;
  height: 45%;
  pointer-events: none;
}
body #wrap .cartbtn:after {
  content: '⟶';
  position: absolute;
  font-size: 20px;
  right: 0px;
  top: 20px;
  opacity: 0;
  color: rgba(255, 255, 255, 0.001);
  -webkit-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}
body #wrap .cartbtn:before {
  content: 'ADD TO CART';
  position: absolute;
  display: block;
  width: 100px;
  text-align: center;
  left: 50%;
  top: 50px;
  color: #fff;
  background: #000;
  font-size: 12px;
  font-weight: 900;
  padding: 10px 15px;
  border-radius: 50px;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}
body #wrap input[type="checkbox"] {
  position: absolute;
  z-index: 9;
  opacity: 1;
  width: 50%;
  height: 50px;
  bottom: 30%;
  left: 50%;
  opacity: 0;
}
body #wrap input[type="checkbox"]:hover ~ .cartbtn:before {
  background: #fff;
  color: #000;
}
body #wrap input[type="checkbox"]:checked {
  pointer-events: all;
  z-index: 9999;
  bottom: 60%;
  height: 40%;
}
body #wrap input[type="checkbox"]:checked:hover ~ .cartbtn:after {
  -webkit-filter: brightness(0);
          filter: brightness(0);
}
body #wrap input[type="checkbox"]:checked ~ .cartbtn {
  height: 100px;
  z-index: 9999;
  top: 0;
  pointer-events: none;
}
body #wrap input[type="checkbox"]:checked ~ .cartbtn:before {
  display: none;
}
body #wrap input[type="checkbox"]:checked ~ .cartbtn:after {
  opacity: 1;
  color: #ccc;
  -webkit-transition-delay: 1s;
          transition-delay: 1s;
}
body #wrap input[type="checkbox"]:checked ~ .cart {
  z-index: 99;
}
body #wrap input[type="checkbox"]:checked ~ .cart .inner {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition-delay: 1.25s;
          transition-delay: 1.25s;
}
body #wrap input[type="checkbox"]:checked ~ .cart .inner .buy {
  -webkit-transition-delay: 1.75s;
          transition-delay: 1.75s;
  -webkit-transform: scale(1);
          transform: scale(1);
}
body #wrap input[type="checkbox"]:checked ~ .cart .inner .bug {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}
body #wrap input[type="checkbox"]:checked ~ .cart .inner .bug:nth-of-type(1) {
  -webkit-transition: 0.7s ease-in-out;
  transition: 0.7s ease-in-out;
  -webkit-transition-delay: 1.75s;
          transition-delay: 1.75s;
}
body #wrap input[type="checkbox"]:checked ~ .cart .inner .bug:nth-of-type(2) {
  -webkit-transition: 0.7s ease-in-out;
  transition: 0.7s ease-in-out;
  -webkit-transition-delay: 2s;
          transition-delay: 2s;
}
body #wrap input[type="checkbox"]:checked ~ .cart .inner .bug:nth-of-type(3) {
  -webkit-transition: 0.7s ease-in-out;
  transition: 0.7s ease-in-out;
  -webkit-transition-delay: 2.25s;
          transition-delay: 2.25s;
}
body #wrap input[type="checkbox"]:checked ~ .slide .image {
  width: 45%;
  height: 45%;
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}
body #wrap input[type="checkbox"]:checked ~ .jar:before, body #wrap input[type="checkbox"]:checked ~ .jar:after {
  -webkit-transform: translateY(-20px) scaleX(0.75);
          transform: translateY(-20px) scaleX(0.75);
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}
body #wrap .outer {
  z-index: -1;
  position: absolute;
  width: 25%;
  height: 50%;
}
body #wrap .outer .box {
  content: '';
  position: absolute;
  width: 100vw;
  height: 400vh;
  right: 0;
  bottom: 0;
  overflow: hidden;
}
body #wrap .outer .box:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(25%, #f58286), color-stop(25%, #1cc6ca), color-stop(50%, #1cc6ca), color-stop(50%, #eb4e4e), color-stop(75%, #eb4e4e), color-stop(75%, #f58286));
  background: linear-gradient(to top, #f58286 25%, #1cc6ca 25%, #1cc6ca 50%, #eb4e4e 50%, #eb4e4e 75%, #f58286 75%);
  -webkit-transition: -webkit-transform 600ms cubic-bezier(1, 0.885, 0.72, 1);
  transition: -webkit-transform 600ms cubic-bezier(1, 0.885, 0.72, 1);
  transition: transform 600ms cubic-bezier(1, 0.885, 0.72, 1);
  transition: transform 600ms cubic-bezier(1, 0.885, 0.72, 1), -webkit-transform 600ms cubic-bezier(1, 0.885, 0.72, 1);
}
body #wrap:before, body #wrap:after {
  content: '';
  position: absolute;
  width: 200vw;
  height: 100vh;
  background: -webkit-gradient(linear, left top, right top, color-stop(25%, #fef7ce), color-stop(25%, #f76e3e), color-stop(50%, #f76e3e), color-stop(50%, #1cc6ca), color-stop(75%, #1cc6ca), color-stop(75%, #fef7ce));
  background: linear-gradient(to right, #fef7ce 25%, #f76e3e 25%, #f76e3e 50%, #1cc6ca 50%, #1cc6ca 75%, #fef7ce 75%);
  margin-top: calc(-50vh + 300px);
  z-index: -2;
  -webkit-transition: -webkit-transform 650ms cubic-bezier(1, 0.885, 0.72, 1);
  transition: -webkit-transform 650ms cubic-bezier(1, 0.885, 0.72, 1);
  transition: transform 650ms cubic-bezier(1, 0.885, 0.72, 1);
  transition: transform 650ms cubic-bezier(1, 0.885, 0.72, 1), -webkit-transform 650ms cubic-bezier(1, 0.885, 0.72, 1);
  left: 0;
  top: 0;
}
body #wrap:before {
  margin-left: calc(-50vw + 400px);
}
body #wrap:after {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(25%, #4a5bb2), color-stop(25%, #f19d46), color-stop(50%, #f19d46), color-stop(50%, #64377f), color-stop(75%, #64377f), color-stop(75%, #4a5bb2));
  background: linear-gradient(to bottom, #4a5bb2 25%, #f19d46 25%, #f19d46 50%, #64377f 50%, #64377f 75%, #4a5bb2 75%);
  opacity: 1;
  left: 50%;
  height: 400vh;
  width: 50vw;
  z-index: -1;
  -webkit-transition: -webkit-transform 700ms cubic-bezier(1, 0.885, 0.72, 1);
  transition: -webkit-transform 700ms cubic-bezier(1, 0.885, 0.72, 1);
  transition: transform 700ms cubic-bezier(1, 0.885, 0.72, 1);
  transition: transform 700ms cubic-bezier(1, 0.885, 0.72, 1), -webkit-transform 700ms cubic-bezier(1, 0.885, 0.72, 1);
  margin-top: calc(-250vh + 300px);
}
body #wrap .slide {
  position: absolute;
  display: grid;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  grid-template-columns: 25% 25% 50%;
  grid-template-rows: 15% 85%;
  z-index: 2;
  overflow: hidden;
}
body #wrap .slide:nth-of-type(1):before {
  background: #f58286;
}
body #wrap .slide:nth-of-type(1) .image {
  background-image: url("https://puu.sh/DFAVr/627c7ece9f.png");
}
body #wrap .slide:nth-of-type(1) .label:before {
  background: #64377f;
}
body #wrap .slide:nth-of-type(1) .content h1:before {
  content: "Superious Grossius";
}
body #wrap .slide:nth-of-type(1) .content p:before {
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/383755/beetle%20(1).svg");
}
body #wrap .slide:nth-of-type(1) .content p span:first-of-type:after {
  content: 'Sandwich';
}
body #wrap .slide:nth-of-type(1) .content p span:last-of-type:after {
  content: 'Hard No';
}
body #wrap .slide:nth-of-type(1) p.classifications span:first-of-type:after {
  content: 'Why';
}
body #wrap .slide:nth-of-type(1) p.classifications span:nth-of-type(2):after {
  content: 'Would';
}
body #wrap .slide:nth-of-type(1) p.classifications span:nth-of-type(3):after {
  content: 'You';
}
body #wrap .slide:nth-of-type(1) p.classifications span:nth-of-type(4):after {
  content: 'Even';
}
body #wrap .slide:nth-of-type(1) p.classifications span:nth-of-type(5):after {
  content: 'Buy';
}
body #wrap .slide:nth-of-type(1) p.classifications span:nth-of-type(6):after {
  content: 'This';
}
body #wrap .slide:nth-of-type(2):before {
  background: #1cc6ca;
}
body #wrap .slide:nth-of-type(2) .image {
  background-image: url("https://puu.sh/DFAVP/579e5c4793.png");
}
body #wrap .slide:nth-of-type(2) .label:before {
  background: #f19d46;
}
body #wrap .slide:nth-of-type(2) .content h1:before {
  content: "Creepious Crawliminus";
}
body #wrap .slide:nth-of-type(2) .content p:before {
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/383755/stag-beetle.svg");
}
body #wrap .slide:nth-of-type(2) .content p span:first-of-type:after {
  content: 'Your Hair';
}
body #wrap .slide:nth-of-type(2) .content p span:last-of-type:after {
  content: 'Nope';
}
body #wrap .slide:nth-of-type(2) p.classifications span:first-of-type:after {
  content: 'Seriously';
}
body #wrap .slide:nth-of-type(2) p.classifications span:nth-of-type(2):after {
  content: 'These';
}
body #wrap .slide:nth-of-type(2) p.classifications span:nth-of-type(3):after {
  content: 'Things';
}
body #wrap .slide:nth-of-type(2) p.classifications span:nth-of-type(4):after {
  content: 'Are';
}
body #wrap .slide:nth-of-type(2) p.classifications span:nth-of-type(5):after {
  content: 'Pretty';
}
body #wrap .slide:nth-of-type(2) p.classifications span:nth-of-type(6):after {
  content: 'Creepy';
}
body #wrap .slide:nth-of-type(3):before {
  background: #ec575a;
}
body #wrap .slide:nth-of-type(3) .image {
  background-image: url("https://puu.sh/DFAK1/62a2c6fbf7.png");
}
body #wrap .slide:nth-of-type(3) .label:before {
  background: #4a5bb2;
}
body #wrap .slide:nth-of-type(3) .content h1:before {
  content: "Nastious Maximus";
}
body #wrap .slide:nth-of-type(3) .content p:before {
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/383755/beetle.svg");
}
body #wrap .slide:nth-of-type(3) .content p span:first-of-type:after {
  content: 'Your Face';
}
body #wrap .slide:nth-of-type(3) .content p span:last-of-type:after {
  content: 'No Thanks';
}
body #wrap .slide:nth-of-type(3) p.classifications span:first-of-type:after {
  content: 'I';
}
body #wrap .slide:nth-of-type(3) p.classifications span:nth-of-type(2):after {
  content: 'Guess';
}
body #wrap .slide:nth-of-type(3) p.classifications span:nth-of-type(3):after {
  content: 'Science';
}
body #wrap .slide:nth-of-type(3) p.classifications span:nth-of-type(4):after {
  content: 'Ain\'t';
}
body #wrap .slide:nth-of-type(3) p.classifications span:nth-of-type(5):after {
  content: 'Always';
}
body #wrap .slide:nth-of-type(3) p.classifications span:nth-of-type(6):after {
  content: 'Pretty';
}
body #wrap .slide:before, body #wrap .slide .label:before {
  content: '';
  position: absolute;
  width: 50%;
  height: 100%;
  right: 0;
  top: 0;
  background: #f58286;
  z-index: -1;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  -webkit-transition: all 600ms cubic-bezier(1, 0.885, 0.72, 1);
  transition: all 600ms cubic-bezier(1, 0.885, 0.72, 1);
}
body #wrap .slide .label {
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
  position: relative;
  overflow: hidden;
}
body #wrap .slide .label:after {
  content: 'INSECT';
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  font-size: 26px;
  color: #fff;
  font-weight: 700;
}
body #wrap .slide .label:before {
  -webkit-transition: all 650ms cubic-bezier(1, 0.885, 0.72, 1);
  transition: all 650ms cubic-bezier(1, 0.885, 0.72, 1);
  width: 100%;
}
body #wrap .slide .search {
  grid-column: 2 / span 1;
  grid-row: 1 / span 1;
}
body #wrap .slide .image {
  position: absolute;
  width: 47.5%;
  height: 47.5%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-100vw);
          transform: translateX(-50%) translateY(-100vw);
  will-change: transform;
}
body #wrap label {
  color: #fff;
  -webkit-text-stroke: 0.75px rgba(0, 0, 0, 0.25);
  font-size: 50px;
  font-weight: 900;
  position: absolute;
  margin: 0;
  top: 275px;
  width: 50%;
  left: -125px;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}
body #wrap .content {
  position: absolute;
  width: 50%;
  height: auto;
  right: 0%;
  -webkit-transform: translateY(calc(-50% - 25px));
          transform: translateY(calc(-50% - 25px));
  top: 50%;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
          clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  -webkit-transition: -webkit-clip-path 0.6s ease-in-out;
  transition: -webkit-clip-path 0.6s ease-in-out;
  transition: clip-path 0.6s ease-in-out;
  transition: clip-path 0.6s ease-in-out, -webkit-clip-path 0.6s ease-in-out;
  padding: 0 75px 100px 100px;
}
body #wrap .content p {
  color: #fff;
  float: right;
  text-align: left;
  opacity: 1;
  width: 60%;
  font-size: 14px;
  line-height: 2;
  position: relative;
}
body #wrap .content p:before {
  content: '';
  position: absolute;
  width: 60%;
  height: 100px;
  left: calc(-60% - 10px);
  top: -20px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-filter: invert(1);
          filter: invert(1);
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
  opacity: 0;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}
body #wrap .content p span:after {
  display: inline-block;
  clear: left;
  margin-left: 5px;
}
body #wrap .content h1 {
  display: inline-block;
  text-align: center;
  width: 100%;
  font-size: 40px;
}
body #wrap .content h1:before {
  content: '';
  display: block;
  text-align: left;
  max-width: 100%;
  font-family: "Playfair Display";
  color: #fff;
}
body #wrap p.classifications {
  position: absolute;
  left: 17.5%;
  top: 25%;
  -webkit-clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
          clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
  -webkit-transition: -webkit-clip-path 0.3s ease-in-out;
  transition: -webkit-clip-path 0.3s ease-in-out;
  transition: clip-path 0.3s ease-in-out;
  transition: clip-path 0.3s ease-in-out, -webkit-clip-path 0.3s ease-in-out;
}
body #wrap p {
  font-size: 16px;
  margin: 0;
  line-height: 1.6;
  opacity: 0.35;
}
body #wrap p span {
  display: block;
  clear: both;
  font-weight: 600;
}
body #wrap p span:after {
  display: block;
  clear: both;
  font-weight: 300;
  margin-bottom: 10px;
}