.char1 {
  -webkit-transform: rotate(6deg);
  -moz-transform: rotate(6deg);
  -ms-transform: rotate(6deg);
  transform: rotate(6deg);
}

.char2 {
  -webkit-transform: rotate(12deg);
  -moz-transform: rotate(12deg);
  -ms-transform: rotate(12deg);
  transform: rotate(12deg);
}

.char3 {
  -webkit-transform: rotate(18deg);
  -moz-transform: rotate(18deg);
  -ms-transform: rotate(18deg);
  transform: rotate(18deg);
}

.char4 {
  -webkit-transform: rotate(24deg);
  -moz-transform: rotate(24deg);
  -ms-transform: rotate(24deg);
  transform: rotate(24deg);
}

.char5 {
  -webkit-transform: rotate(30deg);
  -moz-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  transform: rotate(30deg);
}

.char6 {
  -webkit-transform: rotate(36deg);
  -moz-transform: rotate(36deg);
  -ms-transform: rotate(36deg);
  transform: rotate(36deg);
}

.char7 {
  -webkit-transform: rotate(42deg);
  -moz-transform: rotate(42deg);
  -ms-transform: rotate(42deg);
  transform: rotate(42deg);
}

.char8 {
  -webkit-transform: rotate(48deg);
  -moz-transform: rotate(48deg);
  -ms-transform: rotate(48deg);
  transform: rotate(48deg);
}

.char9 {
  -webkit-transform: rotate(54deg);
  -moz-transform: rotate(54deg);
  -ms-transform: rotate(54deg);
  transform: rotate(54deg);
}

.char10 {
  -webkit-transform: rotate(60deg);
  -moz-transform: rotate(60deg);
  -ms-transform: rotate(60deg);
  transform: rotate(60deg);
}

.char11 {
  -webkit-transform: rotate(66deg);
  -moz-transform: rotate(66deg);
  -ms-transform: rotate(66deg);
  transform: rotate(66deg);
}

.char12 {
  -webkit-transform: rotate(72deg);
  -moz-transform: rotate(72deg);
  -ms-transform: rotate(72deg);
  transform: rotate(72deg);
}

.char13 {
  -webkit-transform: rotate(78deg);
  -moz-transform: rotate(78deg);
  -ms-transform: rotate(78deg);
  transform: rotate(78deg);
}

.char14 {
  -webkit-transform: rotate(84deg);
  -moz-transform: rotate(84deg);
  -ms-transform: rotate(84deg);
  transform: rotate(84deg);
}

.char15 {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.char16 {
  -webkit-transform: rotate(96deg);
  -moz-transform: rotate(96deg);
  -ms-transform: rotate(96deg);
  transform: rotate(96deg);
}

.char17 {
  -webkit-transform: rotate(102deg);
  -moz-transform: rotate(102deg);
  -ms-transform: rotate(102deg);
  transform: rotate(102deg);
}

.char18 {
  -webkit-transform: rotate(108deg);
  -moz-transform: rotate(108deg);
  -ms-transform: rotate(108deg);
  transform: rotate(108deg);
}

.char19 {
  -webkit-transform: rotate(114deg);
  -moz-transform: rotate(114deg);
  -ms-transform: rotate(114deg);
  transform: rotate(114deg);
}

.char20 {
  -webkit-transform: rotate(120deg);
  -moz-transform: rotate(120deg);
  -ms-transform: rotate(120deg);
  transform: rotate(120deg);
}

.char21 {
  -webkit-transform: rotate(126deg);
  -moz-transform: rotate(126deg);
  -ms-transform: rotate(126deg);
  transform: rotate(126deg);
}

.char22 {
  -webkit-transform: rotate(132deg);
  -moz-transform: rotate(132deg);
  -ms-transform: rotate(132deg);
  transform: rotate(132deg);
}

.char23 {
  -webkit-transform: rotate(138deg);
  -moz-transform: rotate(138deg);
  -ms-transform: rotate(138deg);
  transform: rotate(138deg);
}

.char24 {
  -webkit-transform: rotate(144deg);
  -moz-transform: rotate(144deg);
  -ms-transform: rotate(144deg);
  transform: rotate(144deg);
}

.char25 {
  -webkit-transform: rotate(150deg);
  -moz-transform: rotate(150deg);
  -ms-transform: rotate(150deg);
  transform: rotate(150deg);
}

.char26 {
  -webkit-transform: rotate(156deg);
  -moz-transform: rotate(156deg);
  -ms-transform: rotate(156deg);
  transform: rotate(156deg);
}

.char27 {
  -webkit-transform: rotate(162deg);
  -moz-transform: rotate(162deg);
  -ms-transform: rotate(162deg);
  transform: rotate(162deg);
}

.char28 {
  -webkit-transform: rotate(168deg);
  -moz-transform: rotate(168deg);
  -ms-transform: rotate(168deg);
  transform: rotate(168deg);
}

.char29 {
  -webkit-transform: rotate(174deg);
  -moz-transform: rotate(174deg);
  -ms-transform: rotate(174deg);
  transform: rotate(174deg);
}

.char30 {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.char31 {
  -webkit-transform: rotate(186deg);
  -moz-transform: rotate(186deg);
  -ms-transform: rotate(186deg);
  transform: rotate(186deg);
}

.char32 {
  -webkit-transform: rotate(192deg);
  -moz-transform: rotate(192deg);
  -ms-transform: rotate(192deg);
  transform: rotate(192deg);
}

.char33 {
  -webkit-transform: rotate(198deg);
  -moz-transform: rotate(198deg);
  -ms-transform: rotate(198deg);
  transform: rotate(198deg);
}

.char34 {
  -webkit-transform: rotate(204deg);
  -moz-transform: rotate(204deg);
  -ms-transform: rotate(204deg);
  transform: rotate(204deg);
}

.char35 {
  -webkit-transform: rotate(210deg);
  -moz-transform: rotate(210deg);
  -ms-transform: rotate(210deg);
  transform: rotate(210deg);
}

.char36 {
  -webkit-transform: rotate(216deg);
  -moz-transform: rotate(216deg);
  -ms-transform: rotate(216deg);
  transform: rotate(216deg);
}

.char37 {
  -webkit-transform: rotate(222deg);
  -moz-transform: rotate(222deg);
  -ms-transform: rotate(222deg);
  transform: rotate(222deg);
}

.char38 {
  -webkit-transform: rotate(228deg);
  -moz-transform: rotate(228deg);
  -ms-transform: rotate(228deg);
  transform: rotate(228deg);
}

.char39 {
  -webkit-transform: rotate(234deg);
  -moz-transform: rotate(234deg);
  -ms-transform: rotate(234deg);
  transform: rotate(234deg);
}

.char40 {
  -webkit-transform: rotate(240deg);
  -moz-transform: rotate(240deg);
  -ms-transform: rotate(240deg);
  transform: rotate(240deg);
}

.char41 {
  -webkit-transform: rotate(246deg);
  -moz-transform: rotate(246deg);
  -ms-transform: rotate(246deg);
  transform: rotate(246deg);
}

.char42 {
  -webkit-transform: rotate(252deg);
  -moz-transform: rotate(252deg);
  -ms-transform: rotate(252deg);
  transform: rotate(252deg);
}

.char43 {
  -webkit-transform: rotate(258deg);
  -moz-transform: rotate(258deg);
  -ms-transform: rotate(258deg);
  transform: rotate(258deg);
}

.char44 {
  -webkit-transform: rotate(264deg);
  -moz-transform: rotate(264deg);
  -ms-transform: rotate(264deg);
  transform: rotate(264deg);
}

.char45 {
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}

.char46 {
  -webkit-transform: rotate(276deg);
  -moz-transform: rotate(276deg);
  -ms-transform: rotate(276deg);
  transform: rotate(276deg);
}

.char47 {
  -webkit-transform: rotate(282deg);
  -moz-transform: rotate(282deg);
  -ms-transform: rotate(282deg);
  transform: rotate(282deg);
}

.char48 {
  -webkit-transform: rotate(288deg);
  -moz-transform: rotate(288deg);
  -ms-transform: rotate(288deg);
  transform: rotate(288deg);
}

.char49 {
  -webkit-transform: rotate(294deg);
  -moz-transform: rotate(294deg);
  -ms-transform: rotate(294deg);
  transform: rotate(294deg);
}

.char50 {
  -webkit-transform: rotate(300deg);
  -moz-transform: rotate(300deg);
  -ms-transform: rotate(300deg);
  transform: rotate(300deg);
}

.char51 {
  -webkit-transform: rotate(306deg);
  -moz-transform: rotate(306deg);
  -ms-transform: rotate(306deg);
  transform: rotate(306deg);
}

.char52 {
  -webkit-transform: rotate(312deg);
  -moz-transform: rotate(312deg);
  -ms-transform: rotate(312deg);
  transform: rotate(312deg);
}

.char53 {
  -webkit-transform: rotate(318deg);
  -moz-transform: rotate(318deg);
  -ms-transform: rotate(318deg);
  transform: rotate(318deg);
}

.char54 {
  -webkit-transform: rotate(324deg);
  -moz-transform: rotate(324deg);
  -ms-transform: rotate(324deg);
  transform: rotate(324deg);
}

.char55 {
  -webkit-transform: rotate(330deg);
  -moz-transform: rotate(330deg);
  -ms-transform: rotate(330deg);
  transform: rotate(330deg);
}

.char56 {
  -webkit-transform: rotate(336deg);
  -moz-transform: rotate(336deg);
  -ms-transform: rotate(336deg);
  transform: rotate(336deg);
}

.char57 {
  -webkit-transform: rotate(342deg);
  -moz-transform: rotate(342deg);
  -ms-transform: rotate(342deg);
  transform: rotate(342deg);
}

.char58 {
  -webkit-transform: rotate(348deg);
  -moz-transform: rotate(348deg);
  -ms-transform: rotate(348deg);
  transform: rotate(348deg);
}

.char59 {
  -webkit-transform: rotate(354deg);
  -moz-transform: rotate(354deg);
  -ms-transform: rotate(354deg);
  transform: rotate(354deg);
}

.char60 {
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
}

.char {
  height: 300px;
  font-size: 25px;
}

.inner {
  width: 100%;
  display: table-cell;
  vertical-align: middle;
  position: relative;
}

.outer {
  position: relative;
  display: table;
  text-align: center;
  width: 300px;
  height: 300px;
}

.absolute-center {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}